---
import Master from "../components/Master.astro";
---

<Master>
	<div class="flex justify-center">
		<div class="m-auto">
			<h1 class="font-mono flex justify-center">Welcome to my blog.</h1>
			<p>Hi, I'm aixoio! I love to program and I wanted a place to publish my work so I made this blog.</p>
		</div>
	</div>
</Master>
