---

---

<div class="border-b border-b-gray-950 p-2 flex justify-between">
    <span class="font-bold"><a href="/">aixoio's blog</a></span>
    <div class="flex gap-4">
        <a href="/posts" class="underline">All Posts</a>
        <a href="https://github.com/aixoio/" target="_blank" class="underline">GitHub</a>
    </div>
</div>
