---

---

<div class="border-b border-b-gray-950 p-2 flex justify-between">
    <span class="font-bold"><a href="/">aixoio's blog</a></span>
    <a href="/posts" class="underline">All Posts</a>
</div>
