---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<div>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/posts/${post.slug}/`} class="no-underline">
                        <h4 class="font-semibold text-lg inline-block">
                            {post.data.title}
                        </h4>
                        <p class="text-gray-500 text-sm text-right inline ml-4">
                            <FormattedDate date={post.data.pubDate} />
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
</div>
