---
import type { CollectionEntry } from "astro:content";
import Master from "../components/Master.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate } = Astro.props;
---

<Master>
    <div class="flex justify-center m-auto">
        <div class="m-4">
            <h1>{title}</h1>
            <p class="text-gray-500 text-sm text-right">
                Published at <FormattedDate date={pubDate} />
            </p>
            <div class="prose break-words">
                <slot />
            </div>
        </div>
    </div>
</Master>
